@mixin rowFlexCenter($inline: false) {
  @if ($inline) {
    display: inline-flex;
  } @else {
    display: flex;
  }
  align-items: center;
  min-width: 0;
}

@mixin columnFlexCenter($inline: false) {
  @if ($inline) {
    display: inline-flex;
  } @else {
    display: flex;
  }
  flexdirection: column;
  align-items: center;
  min-height: 0;
}
